@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    font-size: 61.5%;
    font-family: "Inter", sans-serif;
    --red: #da2535;
    --gray: #616161;
    --white: #fbfbfb;
    --black: #292929;
    --white-200: #f1f1f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 5.9rem;
}
h3 {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
}
body {
    background: var(--white);
    max-width: 122.8rem;
    /* border: red 1px solid; */
    margin-inline: auto;
    padding: 2rem;
}
/* ===============NAVBAR============= */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 15rem; */
    margin-top: 4rem;
    margin-bottom: 10rem;
}
#buttons-nav button {
    font-weight: 500;
    background: none;
    border: none;
    font-size: 2.4rem;
    line-height: 2.9rem;
}
#buttons-nav {
    display: flex;
    gap: 9.1rem;
}
#navbar .logo {
    width: 15.7rem;
}
#navbar .entrar-button {
    font-size: 2.4rem;
    background: none;
    border-radius: 10px;
    padding: 1rem 5.85rem;
    border: 2px solid --black;
}
/* ============HEADERS=========== */
/* ============HEADER 1=========== */
#header .first-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}
#header .lside1 p {
    font-size: 2.4rem;
    max-width: 52rem;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
    line-height: 160%;
    font-weight: 400;
}
#header .lside1 button {
    background-color: var(--red);
    border: none;
    border-radius: 1rem;
    padding: 1.53rem 9.3rem;
    font-size: 2.4rem;
    color: var(--white);
    line-height: 2.9rem;
}
#header .rside1 img {
    width: 40rem;
}
/* ============HEADER 2=========== */
#header .second-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    gap: 12.4rem;
}
#header .rside2 p {
    font-size: 2.4rem;
    max-width: 50rem;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    line-height: 160%;
    font-weight: 400;
}
#header .second-header .lside2 img {
    max-width: 60.4rem;
}
#header .second-header .rside2 a {
    font-size: 2.4rem;
    color: var(--red);
    font-family: "Inter";
    text-decoration: line;
}
/* ===============MAIS POPULARES================== */
#main {
    display: flex;
    justify-content: space-between;
    gap: 4.4rem;
}

#main .food-box {
    max-width: 38rem;
    height: 55.8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-inline: 4.5rem;
    padding-bottom: 3.2rem;
    text-align: center;
}
#main .food-box p{
    font-size: 1.8rem;
}

#main .food-box::after {
    opacity: 100%;
    display: block;
    content: "";
    width: 100%;
    height: 45rem;
    background-color: var(--white-200);
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    border-radius: 32px;
}
